.initial-section {
    background-color: rgb(244, 244, 250);
}

#error-message-inv {
    display: none;
    padding: 5px;
    width: 50%;
}

#error-message-null {
    display: none;
    padding: 5px;
    width: 50%;
}

#spinner {
    display: none;
}

#btnspinner {
    display: none;
}

#btnsearch {
    display: block;
}

#btn-search {
    background-image: linear-gradient(rgb(221, 91, 91), rgb(236, 182, 82));
    /* color: aliceblue; */
    margin-left: 4px;
    font-weight: 500;
}